/* 共通プロパティ */
body {
  background:	#f2f2f2;
  color: #333;
  font-family: Lato;
  font-weight: 100;
}

.font_Raleway {
  font-family: Raleway;
}

a {
  display: block;
  text-decoration: none;
}


.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.inner {
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 1;
  background: #FFF;
  width: 100%;
  padding: 15px 0;
}

.header .fa-bolt {
  font-size: 44px;
}

.header_contact {
  background: #74cfae;
  color: #fff;
  padding: 14px 12px;
  display: inline-block;
  float: right;
  transition: 0.3s;
}

.header_contact:hover {
  color: #333;
}

.main_wrapper {
  padding: 324px 0 250px 0;
  width: 100%;
}
.title {
  text-align: center;
}
.title-main {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.title-sub {
  font-size: 30px;
  color: #c0c0c0;
}

.main_wrapper_iphone {
  background: #74cfae;
  color: #FFF;
}

.iphone {
  padding-top: 50px;
}

.iphone-text {
  text-align: center;
  word-break: break-all;
}

.iphone-subtitle {
  font-size: 24px;
}
.iphone-subtitle-text {
  margin-top: 35px;
  font-size: 20px;
  line-height: 1.5;
}

.article {
  width: 100%;
  padding: 60px 0 70px 0;
}

.article-subtitle {
  text-align: center;
  font-size: 24px;
}

.article-feature {
  display: flex;
  line-height: 0;
  font-size: 0;
  margin-top:40px;
}

.article---text {
  line-height: 1.5;
}

.article-img {
  transition: 0.3s;
  opacity: 0.7;
}

.article-img:hover {
  opacity: 1;
}

.article-email:hover {
  color: #333;
}

.article-email {
  background: #74cfae;
  color: #fff;
  padding: 14px 20px;
  transition: 0.3s;
  font-size: 12px;
}


.section {
  background: #4e4e4e;
  color: #FFF;
  padding: 70px 0 100px 0;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.section-subtitle {
  text-align: center;
  margin-bottom: 70px;
  font-size: 24px;
}

.section-img {
  line-height: 2;
}

.nav {
  width: 100%;
  padding: 200px 0 200px 0;
  font-size: 0;
  text-align: center;
}

.nav-button {
  color: #74cfae;
}

.nav-feature {
  font-size: 50px;
  cursor: pointer;
  transition: all 0.3s;
  line-height: 2;
}

.nav-feature:hover {
  background: #FFF;
  transition: all 0.3s;
}

.footer {
  background: #74cfae;
  width: 100%;
  color: #FFF;
  padding: 20px 0 25px 0;
  text-align: right;
}
                                   /* 共通プロパティ */

/* PC */
@media (min-width:1200px) {                 /*PC*/

  .inner {
    width: 1100px;
  }

  .fa-bars {
    visibility: hidden;
  }

  .iphone {
    display: flex;
    justify-content: space-around;
  }

  .iphone-caption {
    display: flex;
    align-items: flex-end;
  }
  .iphone-subtitle-text {
    width: 690px;
  }

  .article-feature {
    flex-wrap: wrap;
  }

  .article-feature > .article-img {
    margin-top: 80px;
    margin-right: 100px;
  }

  .article-feature > .article-img:nth-child(3n) {
    margin-right: 0;
  }

  .article-feature > .article-img:nth-child(-n + 3) {
    margin-top: 0;
  }


  .article-text {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article---text {
    text-align: center;
    display: inline-block;
    width: 530px;
  }

  .article-email {
    margin-left: 90px;
  }

  .section-img {
    display: inline-block;
    margin-right: 180px;
  }

  .section-img:last-child {
    margin-right: 0;
  }

  .nav-feature {
    display: inline-block;
    width: 185px;
  }
}

@media (min-width:768px) and (max-width:1199px) {  /*TB*/

  .inner {
    width: 97%;
  }

  .fa-bars {
    visibility: hidden;
  }

  .main_wrapper_iphone {
    text-align: center;
    padding-bottom: 25px;
  }

  .iphone-subtitle {
    margin: 20px 0 35px 0;
  }

  .iphone-subtitle-text {
    margin: 0 auto;
    width: 900px;
  }

  .article-feature {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .article-img {
    display: block;
    transition: 0.3s;
    opacity: 0.7;
  }

  .article-img:hover {
    opacity: 1;
  }

  .article-feature > .article-img:nth-child(3n) {
    margin-bottom: 80px;
  }
  .article-feature > .article-img:last-child {
    margin-bottom: 0;
  }


  .article-text {
    text-align: center;
  }

  .article---text {
    line-height: 1.5;
    margin: 80px 0 40px 0;
  }

  .article-email {
    display: inline-block;
  }

  .section-img {
    padding-bottom: 88px;
  }
  .section-img:last-child {
    padding-bottom: 0;
  }

  .nav-feature {
    display: inline-block;
    width: 185px;
  }
}

@media (max-width:767px) {                 /*SP*/
  .inner {
    width: 97%;
  }

  .fa-bars {
    color: #ddd;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    float: right;
  }

  .header_contact {
    visibility: hidden;
  }

  .main_wrapper {
    width: 100%;
    padding: 234px 0 130px 0;
  }


  .title-main {
    font-size: 80px;
  }

  .iphone {
    text-align: center;
    padding: 50px 0 25px 0;
  }

  .iphone-subtitle {
    margin-top: 20px;
  }

  .article {
    width: 100%;
  }

  .article-feature {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .article-feature > .article-img:nth-child(3n) {
    margin-bottom: 80px;
  }
  .article-feature > .article-img:last-child {
    margin-bottom: 0;
  }

  .article-text {

    text-align: center;
  }

  .article---text {
    margin: 80px 0 40px 0;
  }

  .article-email {
    display: inline-block;
  }

  .section-img {
    text-align: center;
    margin-bottom: 88px;
  }
  .section-img:last-child {
    margin-bottom: 0;
  }
  .nav {
    padding: 50px 0 50px 0;
  }
}
